* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    margin-left: 0;
    margin-right: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 200px;
}

.card-image-container {
    display: flex;
    justify-content: center;
}

.card-image {
    width: 120px;
    height: 120px;
}

.card-text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
}

@media (max-width: 768px) {
    .card {
        width: 80%;
        flex-shrink: 0;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0;
    }

    .card-container {
        display: inline-flex;
        width: 100%;
        overflow-x: scroll;
    }
}

.selected {
    border-bottom: 3px solid blue;
}

.card.selected {
  border-bottom: 3px solid blue; /* Add blue color border to the bottom of the selected card */
}
