/* Page.css */

.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: -40px;
  margin-bottom: 40px;
}

.card {
  width: 400px;
  max-width: 400px;
  height: 400px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-front {
  /* Update the background color style to use a background image */
  background: url("/path/to/your/background/image.jpg") center/cover no-repeat; /* Replace '/path/to/your/background/image.jpg' with your actual image path */
  /* Other existing styles */
}

.card-back {
  /* Update the background color style to use a background image */
  background: url("/path/to/your/background/image.jpg") center/cover no-repeat; /* Replace '/path/to/your/background/image.jpg' with your actual image path */
  /* Other existing styles */
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column; /* Display image and heading vertically */
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-front h2,
.card-back p {
  margin: 0;
}

.card-back {
  transform: rotateY(180deg);
  padding: 10px;
}

.image-wrapper {
  text-align: center;
  border-radius: 50%;
  margin-top: 0px;
  margin-bottom: 10px;
  overflow: hidden; /* Ensure the image stays within the rounded border */
}

.heading-wrapper {
  text-align: center;
  margin-top: 10px; /* Add margin to separate the image and heading */
  font-size: xx-large;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .card-container {
    flex-wrap: wrap; /* Allow cards to wrap to the next line on smaller screens */
  }

  .card {
    margin: 10px; /* Add some margin between cards */
  }
}
